<form {{on "submit" this.submit}}>
  <PowerSelect
    style="max-width: 150px; margin-bottom: 16px;"
    @options={{this.langOptions}}
    @selected={{this.selectedLanguage}}
    @onChange={{set this "selectedLanguage"}}
    as |lang|
  >
    {{lang}}
  </PowerSelect>

  <label for="title">Title</label>
  <input
    id="title"
    type="text"
    value={{get @model.title this.selectedLanguage}}
    {{on "input" this.onTitleChange}}
  />

  <button
    type="button"
    disabled={{not @model.hasDirtyAttributes}}
    {{on "click" this.rollbackModel}}
  >Rollback</button>
  <button
    type="submit"
    disabled={{not @model.hasDirtyAttributes}}
  >Submit</button>
</form>

<div>
  Is dirty?
  {{@model.hasDirtyAttributes}}
</div>

<div>
  Resolved:
  {{@model.title.resolved}}
</div>

{{! template-lint-disable no-duplicate-landmark-elements }}
<form {{on "submit" this.submitChangeset}} style="margin-top: 48px;">
  <label for="title_2">Title</label>
  <input
    id="title_"
    type="text"
    value={{get this.changeset.title this.selectedLanguage}}
    {{on "input" this.onTitleChangesetChange}}
  />

  <button
    type="button"
    disabled={{not this.changeset.isDirty}}
    {{on "click" this.rollbackChangeset}}
  >Rollback</button>
  <button type="submit" disabled={{not this.changeset.isDirty}}>Submit</button>
</form>

<div>
  Is dirty?
  {{this.changeset.isDirty}}
</div>

<div>
  Resolved:
  {{this.changeset.title.resolved}}
</div>